
{{ define "main" }}
<div class="container-fluid">
  <div class="pt-4 pt-md-5 mb-2 d-flex justify-content-center">
    <div class="col-md-8 px-0">
      <h1 class="display-3">Welcome! 👋</h1>
    </div>
  </div>
</div>
  <div class="container">
    <div class="pt-0 pt-md-2 p-4 p-md-5 mb-4 d-flex justify-content-center">
      <div class="col-lg-10 px-0">
        <p class="lead my-3">My name is Artem. I am a software developer, and occasional writer.</p>
        <p class="lead my-3">You are looking at my <a href="https://joelhooks.com/digital-garden">digital garden</a>. I stole the term from Joel Hooks. Hopefully, she doesn't mind.</p>
        <p class="lead my-3">Since it is a garden, there is no strict organization. The posts might share very little in common, or express a complete thought. That said, they are all related to programming and software development. You may encounter topics like infrastructure as code and automation more often that any others.</p>
        <p class="lead my-3">The <a href="{{ .Site.BaseURL }}posts/">following page</a> let you view all of my posts in the chronological order. However, I also have a section below with my personal favorites.</p>
        <p class="lead my-3">Same goes for my projects. <a href="{{ .Site.BaseURL }}projects/">Here</a> you can find all of them (or at least ones that I have posted on the site), but the featured ones are right on this page.</p>
        <p class="lead my-3">If you'd like to get in touch with me <a href="mailto:akatevone@gmail.com">email</a> and <a href="https://www.linkedin.com/in/artem-akatev-b68195144/">linkedin</a> are your best channels.</p>
        <p class="lead my-3">All of my articles are also available on <a href="https://dev.to/aakatev">dev.to</a>.</p>
        <p class="lead my-3">Most of the code snippets you see here can be found on my <a href="https://github.com/aakatev">github</a></p>
      </div>
    </div>
  </div>
  {{ partial "index/featured" . }}
  {{ partial "index/projects" . }}
{{ end }}
